#addMovie, h4 {
    margin-top: 70px;
    margin-bottom: 5px;
    color: white !important;
    text-align: center;
}

#buttons {
    margin-bottom: 10px;
}

.descriptionInput {
    padding-top: 15px;
}

#form {
    padding: 0;
    width: 50%;
    margin: 0 auto; 
    float: none;
    margin-bottom: 50px; 
}

#helper {
    color: rgb(0 0 0 / 54%) !important;
}

.input {
    padding: 10px;
}

#title {
    padding-top: 5px;
}